@{
    ViewBag.Title = "Hakkımızda";
}
<h2>@ViewBag.Title.</h2>


<div class="jumbx">
    <p></p>
    <p></p>
    <h2>Vizyonumuz</h2>
    
    <p></p>
    <p></p>

    <p>     İnsanlara kolay sosyalleşmesini sağlamak, insanların hayatını daha eğlenceli bir hale getirmek ,yapabileceğiniz 
    ekinlikleri kolaylıkla bulabilceğiniz, sade,güvenilir ve kullanışlı bir site olmak.
     </p>
</div>
<div class="jumbxyz">
    <h2>Misyonumuz</h2>

    <p></p>
    <p></p>

    <p>     Dünyada ve Türkiyede bütün insanlara kullanacağı kullanışlı bir platform yapmak.Dünyada yaygınlaşan ve insanların her an 
    kullanabileceği bir platform haline getirmek.Dünyada ki etkinliklere katılım sayısını artırmak öncelikli olarak Türkiyenin.
        
    </p>
</div>


<div class="rok">
    <div class="col-md-4">
        <h2>Kemal AYDIN</h2>
        <p>Ulaşım : 
        tel: 0535 555 55 55
            
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/kemallaydin1?fref=ts">Facebook adres &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Barış ERDOĞAN</h2>
        <p>Ulaşım :
        tel: 0535 555 55 55</p>
        
    </div>
    <div class="col-md-4">
        <h2>Oğuz ASLAN</h2>
        <p>Ulaşım :
        tel: 0535 555 55 55</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/oguz.aslan.560?fref=ts">Facebook adres &raquo;</a></p>
    </div>
</div>




<p>Use this area to provide additional information.</p>


