@{
    ViewBag.Title = "İletişim Bilgileri";
}
<h2>@ViewBag.Title.</h2>
<p></p>
<p></p>
<p></p>

<div class="rok">
    <div class="col-md-4">
        <h2>Kemal AYDIN</h2>
        <p>Ulaşım : 
        tel: 0535 555 55 55
            
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/kemallaydin1?fref=ts">Facebook adres &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Barış ERDOĞAN</h2>
        <p>Ulaşım :
        tel: 0535 555 55 55</p>
        
    </div>
    <div class="col-md-4">
        <h2>Buğra ÖNCÜ</h2>
        <p>Ulaşım :
        tel: 0535 555 55 55</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/oguz.aslan.560?fref=ts">Facebook adres &raquo;</a></p>
    </div>
</div>