
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sosyal Olmak Mı İstiyosunuz ?</h1>
    <h1>  SOSYALKAL.COM  </h1>
    <h1>  Artık Hizmetinizde </h1>
    <p></p>
    <p></p>

    <p> 5000'den Fazla Etkinliğiyle Dünyanın En Fazla Etkinlik Oluşturulan Sitesi</p>
    <p>  15'den Fazla spor Dalında Organizasyon Sizi Bekliyor</p>
    <p>  Adrenalin, Huzur, Eğlence, Müzik, Doğa, Spor, vs. Bütün Etkinliklerin Birleştiği Adres </p>
</div>

